/out/*
/sample/sgdk/out/*
/sample/sgdk/res/*.bin
/sample/sgdk/res/*.h
/sample/sgdk/src/boot/*
*.vgm
*.lst
main.bin
sgdk.bin
*~
*.swp
tmp/
/local.properties
GEMINI.md
CLAUDE.md
settings.local.json
jazzy_nyc_99.mds
